.App {
  text-align: center;  
  background:linear-gradient(to right,#F5F5F7,#C1B6AC,#A7B3CB);
}

.header_nav{
margin: 0 auto;

}
ul{
  list-style: none;
  display: flex;
  justify-content: flex-end;
  margin: 0 0 36px;
  padding: 12px;
}

.header_nav{
  text-decoration: none;
}

li {
  list-style: none;
  margin-right: 6px;
  color: #204963;
}

a {
  text-decoration: none;
  padding: 6px;
  color: #204963;
}